/** 
 *    No parameter n to access for dynamic calculation,
 *    so macro eval'd to create pre-populated template
 *    for each individual book's relative offset and z-index:
 *    
 *    height - multiSpineOffset - singleBookFullHeight,
 *    where multiSpineOffset is equal to (* 29 (- n 1)) for the nth book.
**/

.book-40 {
    top: calc(100% - 1131px - 59.8px);
    z-index: 40;
}

.book-39 {
    top: calc(100% - 1102px - 59.8px);
    z-index: 39;
}

.book-38 {
    top: calc(100% - 1073px - 59.8px);
    z-index: 38;
}

.book-37 {
    top: calc(100% - 1044px - 59.8px);
    z-index: 37;
}

.book-36 {
    top: calc(100% - 1015px - 59.8px);
    z-index: 36;
}

.book-35 {
    top: calc(100% - 986px - 59.8px);
    z-index: 35;
}

.book-34 {
    top: calc(100% - 957px - 59.8px);
    z-index: 34;
}

.book-33 {
    top: calc(100% - 928px - 59.8px);
    z-index: 33;
}

.book-32 {
    top: calc(100% - 899px - 59.8px);
    z-index: 32;
}

.book-31 {
    top: calc(100% - 870px - 59.8px);
    z-index: 31;
}

.book-30 {
    top: calc(100% - 841px - 59.8px);
    z-index: 30;
}

.book-29 {
    top: calc(100% - 812px - 59.8px);
    z-index: 29;
}

.book-28 {
    top: calc(100% - 783px - 59.8px);
    z-index: 28;
}

.book-27 {
    top: calc(100% - 754px - 59.8px);
    z-index: 27;
}

.book-26 {
    top: calc(100% - 725px - 59.8px);
    z-index: 26;
}

.book-25 {
    top: calc(100% - 696px - 59.8px);
    z-index: 25;
}

.book-24 {
    top: calc(100% - 667px - 59.8px);
    z-index: 24;
}

.book-23 {
    top: calc(100% - 638px - 59.8px);
    z-index: 23;
}

.book-22 {
    top: calc(100% - 609px - 59.8px);
    z-index: 22;
}

.book-21 {
    top: calc(100% - 580px - 59.8px);
    z-index: 21;
}

.book-20 {
    top: calc(100% - 551px - 59.8px);
    z-index: 20;
}

.book-19 {
    top: calc(100% - 522px - 59.8px);
    z-index: 19;
}

.book-18 {
    top: calc(100% - 493px - 59.8px);
    z-index: 18;
}

.book-17 {
    top: calc(100% - 464px - 59.8px);
    z-index: 17;
}

.book-16 {
    top: calc(100% - 435px - 59.8px);
    z-index: 16;
}

.book-15 {
    top: calc(100% - 406px - 59.8px);
    z-index: 15;
}

.book-14 {
    top: calc(100% - 377px - 59.8px);
    z-index: 14;
}

.book-13 {
    top: calc(100% - 348px - 59.8px);
    z-index: 13;
}

.book-12 {
    top: calc(100% - 319px - 59.8px);
    z-index: 12;
}

.book-11 {
    top: calc(100% - 290px - 59.8px);
    z-index: 11;
}

.book-10 {
    top: calc(100% - 261px - 59.8px);
    z-index: 10;
}

.book-9 {
    top: calc(100% - 232px - 59.8px);
    z-index: 9;
}

.book-8 {
    top: calc(100% - 203px - 59.8px);
    z-index: 8;
}

.book-7 {
    top: calc(100% - 174px - 59.8px);
    z-index: 7;
}

.book-6 {
    top: calc(100% - 145px - 59.8px);
    z-index: 6;
}

.book-5 {
    top: calc(100% - 116px - 59.8px);
    z-index: 5;
}

.book-4 {
    top: calc(100% - 87px - 59.8px);
    z-index: 4;
}

.book-3 {
    top: calc(100% - 58px - 59.8px);
    z-index: 3;
}

.book-2 {
    top: calc(100% - 29px - 59.8px);
    z-index: 2;
}

.book-1 {
    top: calc(100% - 00.0px - 59.8px);
    z-index: 1;
}
