
.cover-blood-sweat-and-pixels {
    background: #3882b2;
}
.title-blood-sweat-and-pixels {
    color: #e9c747;
}
.author-blood-sweat-and-pixels {
    color: #e7404e;
}

.cover-tribe {
    background: #54566a;
}
.title-tribe {
    color: #d2d84f;
}
.author-tribe {
    color: white;
}

.cover-brain-on-fire {
    background: #f8d04c;
}
.title-brain-on-fire {
    color: black;
}
.author-brain-on-fire {
    color: #b9442a;
}

.cover-infinite {
    background: #f3d24b;
}
.title-infinite {
    color: black;
}
.author-infinite {
    color: #b9442a;
}

.cover-the-satyricon {
    background: #979aa4;
}
.title-the-satyricon {
    color: black;
}
.author-the-satyricon {
    color: white;
}

.cover-no-surrender {
    background: #b33631;
}
.title-no-surrender {
    color: #193060;
}
.author-no-surrender {
    color: #fdf6c7;
}

.cover-one-flew-over {
    background: #2564af;
}
.title-one-flew-over {
    color: #e9d8bf;
}
.author-one-flew-over {
    color: #e68d49;
}

.cover-ham-on-rye {
    background: #020c35;
}
.title-ham-on-rye {
    color: #bc3137;
}
.author-ham-on-rye {
    color: #ccc048;
}

.cover-shogun {
    background: #f6fafd;
}
.title-shogun {
    color: black;
}
.author-shogun {
    color: #e83e36;
}

.cover-hard-boiled {
    background: #d1a3a1;
}
.title-hard-boiled {
    color: black;
}
.author-hard-boiled {
    color: white;
}

.cover-computer-networks {
    background: black;
}
.title-computer-networks {
    color: #537f78;
}
.author-computer-networks {
    color: white;
}

.cover-pcl {
    background: black;
}
.title-pcl {
    color: #f7c94a;
}
.author-pcl {
    color: white;
}

.cover-fahrenheit-451 {
    background: #dc3e33;
}
.title-fahrenheit-451 {
    color: white;
}
.author-fahrenheit-451 {
    color: black;
}

.cover-so-good {
    background: #eb623a;
}
.title-so-good {
    color: #040100;
}
.author-so-good {
    color: #fefbff;
}

.cover-moon-mistress {
    background: #fcfdf8;
}
.title-moon-mistress {
    color: black;
}
.author-moon-mistress {
    color: black;
}

.cover-color-of-law {
    background: #f2f1d7;
}
.title-color-of-law {
    color: #2c2b27;
}
.author-color-of-law {
    color: #ce7044;
}

.cover-theft-by-finding {
    background: #f0ece9;
}
.title-theft-by-finding {
    color: #403e3f;
}
.author-theft-by-finding {
    color: #c53b41;
}

.cover-starman-jones {
    background: #224e0e;
}
.title-starman-jones {
    color: #94c240;
}
.author-starman-jones {
    color: #f5ecc4;
}

.cover-red-notice {
    background: #ededed;
}
.title-red-notice {
    color: #bf322f;
}
.author-red-notice {
    color: black;
}

.cover- {
    background: #;
}
.title- {
    color: #;
}
.author- {
    color: #;
}
