/**
 * Assign to dictate size (width) of book blocks (spine).
**/

.length-left-200 {
    width: 200px;
}
.margin-left-200 {
    margin-left: 202px;
}

.length-left-300 {
    width: 300px;
}
.margin-left-300 {
    margin-left: 302px;
}

.length-left-400 {
    width: 400px;
}
.margin-left-400 {
    margin-left: 402px;
}
.length-left-500 {
    width: 500px;
}
.margin-left-500 {
    margin-left: 502px;
}
.length-left-510 {
    width: 510px;
}
.margin-left-510 {
    margin-left: 512px;
}
.length-left-520 {
    width: 520px;
}
.margin-left-520 {
    margin-left: 522px;
}
.length-left-530 {
    width: 530px;
}
.margin-left-530 {
    margin-left: 532px;
}
.length-left-540 {
    width: 540px;
}
.margin-left-540 {
    margin-left: 542px;
}
.length-left-550 {
    width: 550px;
}
.margin-left-550 {
    margin-left: 552px;
}
.length-left-560 {
    width: 560px;
}
.margin-left-560 {
    margin-left: 562px;
}
.length-left-570 {
    width: 570px;
}
.margin-left-570 {
    margin-left: 572px;
}
.length-left-580 {
    width: 580px;
}
.margin-left-580 {
    margin-left: 582px;
}
.length-left-590 {
    width: 590px;
}
.margin-left-590 {
    margin-left: 592px;
}

/* Probably too large */

/* .length-left-600 { */
/*     width: 600px; */
/* } */
/* .margin-left-600 { */
/*     margin-left: 602px; */
/* } */
/* .length-left-610 { */
/*     width: 610px; */
/* } */
/* .margin-left-610 { */
/*     margin-left: 612px; */
/* } */
/* .length-left-620 { */
/*     width: 620px; */
/* } */
/* .margin-left-620 { */
/*     margin-left: 622px; */
/* } */
