
.cover-blood-sweat-and-pixels {
    background: #3882b2;
}
.title-blood-sweat-and-pixels {
    color: #e9c747;
}
.author-blood-sweat-and-pixels {
    color: #941B0C;
    /* color: #650D1B; */
}


.cover-tribe {
    background: #54566a;
}
.title-tribe {
    color: #d2d84f;
}
.author-tribe {
    color: white;
}


.cover-brain-on-fire {
    background: #f8d04c;
}
.title-brain-on-fire {
    color: #5c5b60;
}
.author-brain-on-fire {
    color: #e93f36;
    /* color: #b9442a; */
}


.cover-infinite {
    background: #E8B10D;
    /* background: #f3d24b; */
}
.title-infinite {
    color: #000000;
}
.author-infinite {
    color: #912923;
}


.cover-the-satyricon {
    background: #979aa4;
}
.title-the-satyricon {
    color: black;
}
.author-the-satyricon {
    color: white;
}


.cover-no-surrender {
    background: #b33631;
}
.title-no-surrender {
    color: #122347;
    /* color: #193060; */
    /* color: #1F3B77; */
    /* color: #234489; */
}
.author-no-surrender {
    color: #fdf6c7;
}

.cover-one-flew-over {
    background: #2564af;
}
.title-one-flew-over {
    color: #e9d8bf;
}
.author-one-flew-over {
    color: #e68d49;
}

.cover-ham-on-rye {
    /* background: #020c35; */
    background: #0e1f6b;
}
.title-ham-on-rye {
    color: #bc3137;
}
.author-ham-on-rye {
    color: #ccc048;
}

.cover-shogun {
    background: #f6fafd;
}
.title-shogun {
    color: black;
}
.author-shogun {
    color: #e83e36;
}

.cover-hard-boiled {
    background: #d1a3a1;
}
.title-hard-boiled {
    color: black;
}
.author-hard-boiled {
    color: white;
}

.cover-computer-networks {
    background: black;
}
.title-computer-networks {
    color: #537f78;
}
.author-computer-networks {
    color: white;
}

.cover-pcl {
    background: black;
}
.title-pcl {
    color: #f7c94a;
}
.author-pcl {
    color: white;
}

.cover-fahrenheit-451 {
    background: #dc3e33;
}
.title-fahrenheit-451 {
    color: white;
}
.author-fahrenheit-451 {
    color: black;
}

.cover-so-good {
    background: #eb623a;
}
.title-so-good {
    color: #040100;
}
.author-so-good {
    color: #fefbff;
}

.cover-moon-mistress {
    background: #fcfdf8;
}
.title-moon-mistress {
    color: black;
}
.author-moon-mistress {
    color: black;
}

.cover-color-of-law {
    background: #f2f1d7;
}
.title-color-of-law {
    color: #2c2b27;
}
.author-color-of-law {
    color: #ce7044;
}

.cover-theft-by-finding {
    background: #f0ece9;
}
.title-theft-by-finding {
    color: #403e3f;
}
.author-theft-by-finding {
    color: #c53b41;
}

.cover-starman-jones {
    background: #224e0e;
}
.title-starman-jones {
    color: #94c240;
}
.author-starman-jones {
    color: #f5ecc4;
}

.cover-red-notice {
    background: #ededed;
}
.title-red-notice {
    color: #bf322f;
}
.author-red-notice {
    color: black;
}


.cover-lathe-of-heaven {
    background: #fcfdeb;
}
.title-lathe-of-heaven {
    /* color: #23557a; */
    color: #0086e5;
}
.author-lathe-of-heaven {
    color: #000000;
}



.cover-case-against-education {
    background: #e3dbc8;
}
.title-case-against-education {
    color: #000000;
}
.author-case-against-education {
    color: #000000;
}



.cover-flowers-for-algernon {
    background: #bcdae5;
}
.title-flowers-for-algernon {
    color: #ba3d27;
}
.author-flowers-for-algernon {
    color: #f99734;
}


.cover-os-xinu {
    background: #5c0201;
}
.title-os-xinu {
    color: #f0a07d;
}
.author-os-xinu {
    color: #ffffff;
}


.cover-blood-meridian {
    background: #6f2429;
}
.title-blood-meridian {
    color: #ffffff;
}
.author-blood-meridian {
    color: #d83a34;
}


.cover-all-systems-red {
    /* background: #607073; */
    background: #3d4846;
    /* background: #3e4c4b; */
}
.title-all-systems-red {
    /* color: #b05739; */
    /* color: #922a23; */
    color: #da4333;
}
.author-all-systems-red {
    color: #758177;
    /* color: #000000; */
}


.cover-interview-vampire {
    background: black;
}
.title-interview-vampire {
    color: white;
}
.author-interview-vampire {
    color: darkred;
}


.cover-gentle {
    background: #7e333a;
}
.title-gentle {
    color: white;
}
.author-gentle {
    color: #ffcfaf;
}


.cover-evicted {
    background: #d6d2c7;
}
.title-evicted {
    color: black;
}
.author-evicted {
    color: black;
}


.cover-pimp {
    background: #987028;
}
.title-pimp {
    color: #87297f;
}
.author-pimp {
    color: black;
}

.cover-have-faces {
    background: #02b0b7;
}
.title-have-faces {
    /* color: #e95456; */
    color: white;
}
.author-have-faces {
    color: black;
}

.cover-up-from-slavery {
    background: #602e2d;
}
.title-up-from-slavery {
    color: #bfc2da;
}
.author-up-from-slavery {
    color: #db8f15;
}


.cover-three-body-problem {
    background: #2e5380;
}
.title-three-body-problem {
    color: #d4e04e;
}
.author-three-body-problem {
    color: white;
}

.cover-lolita {
    background: #859362;
}
.title-lolita {
    color: black;
}
.author-lolita {
    color: black;
}

.cover-god {
    background: #fdfbe6;
}
.title-god {
    color: #af883b;
}
.author-god {
    color: black;
}

.cover-ready-player-one {
    background: #ee1d33;
}
.title-ready-player-one {
    color: #ffcd46;
}
.author-ready-player-one {
    color: white;
}


.cover-call-of-the-wild {
    background: #69bad5;
}
.title-call-of-the-wild {
    /* color: #4f5c88; */
    color: #022046;
}
.author-call-of-the-wild {
    color: #d7dbdc;
}


.cover-never-let-me-go {
    background: #fede55;
}
.title-never-let-me-go {
    color: #7b0100;
}
.author-never-let-me-go {
    color: #209963;
}

.cover-attempting-normal {
    background: #52b5c8;
}
.title-attempting-normal {
    color: #000000;
}
.author-attempting-normal {
    color: #f8e251;
}

.cover-essentials-computer-architecture {
    background: #bebebe;
}
.title-essentials-computer-architecture {
    color: #000000;
}
.author-essentials-computer-architecture {
    color: #035875;
}

.cover-junkie {
    background: #9b240c;
}
.title-junkie {
    color: #fbaf1d;
}
.author-junkie {
    color: #000000;
}

.cover-sixth-extinction {
    background: #f8c60f;
}
.title-sixth-extinction {
    /* color: #193893; */
    color: #1f2e89;
}
.author-sixth-extinction {
    color: #c40b19;
}

.cover-art-invisibility {
    background: #252522;
}
.title-art-invisibility {
    color: #6db233;
}
.author-art-invisibility {
    color: #ffffff;
}

.cover-it {
    background: #fcfcfc;
}
.title-it {
    color: #231b33;
}
.author-it {
    color: #a51c24;
}


.cover-persistence-of-vision {
    /* background: #C686A1; */
    background: #946E90;
    /* background: #57435B; */
}
.title-persistence-of-vision {
    color: #F4F2EC;
}
.author-persistence-of-vision {
    color: #E5D23F;
}


.cover-remains-of-the-day {
    /* background: #73cff6; */
    background: #01afec;
}
.title-remains-of-the-day {
    /* color: #01afec; */
    color: #fcbf19;
}
.author-remains-of-the-day {
    color: #ffffff;
}


.cover-righteous-mind {
    background: #ffffff;
}
.title-righteous-mind {
    color: #95693c;
}
.author-righteous-mind {
    color: #95693c;
}


.cover-norwegian-wood {
    background: #795a93;
}
.title-norwegian-wood {
    color: #dfd8a2;
}
.author-norwegian-wood {
    color: #ede14f;
}


.cover-brothers-karamazov {
    /* background: #a69898; */
    background: #fffaea;
}
.title-brothers-karamazov {
    /* color: #3e2d3d; */
    color: #bf3d2f;
}
.author-brothers-karamazov {
    /* color: #151017; */
    color: #e15c21;
}


.cover-american-gods {
    /* background: #686868; */
    /* background: #7e7e7e; */
    background: #363636;
}
.title-american-gods {
    color: #f15c24;
    /* color: #d8561c; */
}
.author-american-gods {
    color: #fafafa;
}


.cover-homo-deus {
    background: #393536;
}
.title-homo-deus {
    color: #f04444;
}
.author-homo-deus {
    /* color: #e7ffff; */
    color: #b8f6ff;
}


.cover-norse-mythology {
    background: #f5f5f5;
}
.title-norse-mythology {
    color: #ce7e1f;
}
.author-norse-mythology {
    color: #000000;
}

.cover-neuromancer {
    background: #f05b7b;
}
.title-neuromancer {
    color: #faed53;
}
.author-neuromancer {
    color: #3f3250;
}
/* .neuromancer-bg-1 {background: #f05b7b;} */
/* .neuromancer-bg-2 {background: #faed53;} */
/* .neuromancer-bg-3 {background: #3f3250;} */
/* .neuromancer-clr-1 {color: #f05b7b;} */
/* .neuromancer-clr-2 {color: #faed53;} */
/* .neuromancer-clr-3 {color: #3f3250;} */



.cover-hate-the-oil {
    background: #072140;
}
.title-hate-the-oil {
    color: #ed5e22;
}
.author-hate-the-oil {
    color: #ceb222;
}


.cover-discrete-math {
    background: #d9cdb3;
}
.title-discrete-math {
    /* color: #363861; */
    color: #3a3d84;
    
}
.author-discrete-math {
    color: #b07239;
}


.cover-soul-of-a-new-machine {
    background: #b7047a;
}
.title-soul-of-a-new-machine {
    color: #fcfefa;
}
.author-soul-of-a-new-machine {
    /* color: #db3827; */
    /* color: #7e4057; */
    color: #32286b;
}


.cover-great-unknown {
    background: #fcfdeb;
}
.title-great-unknown {
    color: #000000;
}
.author-great-unknown {
    color: #000000;
}


.cover-1984 {
    /* background: #ee3a2d; */
    background: #ee482f;
}
.title-1984 {
    color: #231f20;
    /* color: #333030; */
}
.author-1984 {
    color: #ffffff;
}


.cover-engulfed-in-flames {
    /* background: #201416; */
    /* background: #211517; */
    background: #5b3f18;
}
.title-engulfed-in-flames {
    /* color: #8e703e; */
    color: #fffca6;
}
.author-engulfed-in-flames {
    color: #fffdfd;
}


.cover-seven-kingdoms {
    background: #e6c655;
}
.title-seven-kingdoms {
    color: #270503;
}
.author-seven-kingdoms {
    color: #922528;
}


.cover-c-lang {
    background: #ffffff;
}
.title-c-lang {
    color: #000000;
}
.author-c-lang {
    color: #6189eb;
}


.cover-soul-of-an-octopus {
    background: #f3f2d4;
}
.title-soul-of-an-octopus {
    color: #f85220;
}
.author-soul-of-an-octopus {
    color: #7aa7be;
}


.cover-farewell-to-arms {
    background: #545454;
}
.title-farewell-to-arms {
    color: #8a9a41;
}
.author-farewell-to-arms {
    color: #92b0a4;
}


.cover-consider-lobster {
    background: #ffffff;
}
.title-consider-lobster {
    color: #211d1e;
}
.author-consider-lobster {
    color: #8c1d14;
}


.cover-born-a-crime {
    background: #3471b4;
}
.title-born-a-crime {
    color: #e3e4de;
}
.author-born-a-crime {
    color: #f2d309;
}


.cover-hillbilly-elegy {
    background: #9DACB2;
}
.title-hillbilly-elegy {
    color: #32352D;
}
.author-hillbilly-elegy {
    color: #6A5745;
}


.cover-sundown-towns {
    background: #000000;
}
.title-sundown-towns {
    color: #ffee0e;
}
.author-sundown-towns {
    color: #f3e4bb;
}


/* end 2017 */
/* start 2016 */



.cover-the-alchemist {
    background: #fb592a;
}
.title-the-alchemist {
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #bc281e;
}
.author-the-alchemist {
    color: #fbc038;
}

.cover-infinite-jest {
    background: #4c86c5;
}
.title-infinite-jest {
    color: #d5e14d;
}
.author-infinite-jest {
    color: #ffffff;
}


.cover-sup-fun-thing {
    background: #fff22c;
}
.title-sup-fun-thing {
    color: #fe3f23;
}
.author-sup-fun-thing {
    /* color: #aedd87; */
    /* color: #76dbc9; */
    color: #58b8a7;
}


.cover-bury-my-heart {
    background: #c75b2c;
}
.title-bury-my-heart {
    color: #493f35;
}
.author-bury-my-heart {
    /* color: #788b89; */
    /* color: #0d4546; */
    color: #7bc5c6;
}


.cover-code-hidden-lang {
    background: #fefefe;
}
.title-code-hidden-lang {
    color: #a9a730;
}
.author-code-hidden-lang {
    color: #58577f;
}


.cover-postcapitalism {
    background: #7fc562;
}
.title-postcapitalism {
    
    /* color: #feed01; */
    color: #047932;
    /* color: #fff; */
    /* color: #bcb434; */
    /* -webkit-text-stroke-width: 0.5px; */
    /* -webkit-text-stroke-color: #000000; */
}
.author-postcapitalism {
    color: #000000;
}


.cover-short-history-everything {
    /* background: #00007c; */
    background: #1414b1;
}
.title-short-history-everything {
    color: #f7f6e1;
}
.author-short-history-everything {
    color: #f7f6e1;
}


.cover-ego-enemy {
    background: #034869;
}
.title-ego-enemy {
    color: #ffffff;
}
.author-ego-enemy {
    color: #ffffff;
}

.cover-meditations {
    background: #e7e0c3;
}
.title-meditations {
    color: #3b372c;
}
.author-meditations {
    color: #000000;
}

.cover-murder-bayou {
    background: #0292b4;
}
.title-murder-bayou {
    color: #fef015;
}
.author-murder-bayou {
    color: #fff;
}

.cover-crime-and-punishment {
    background: #fdf8db;
}
.title-crime-and-punishment {
    color: #d2222c;
}
.author-crime-and-punishment {
    color: #231f20;
}

.cover-cats-cradle {
    background: #006498;
}
.title-cats-cradle {
    color: #dcffff;
}
.author-cats-cradle {
    color: #000e2a;
}

.cover-banner-of-heaven {
    background: #fff;
}
.title-banner-of-heaven {
    /* color: #97edfe; */
    color: #1549c3;
    /* -webkit-text-stroke-width: 0.5px; */
    /* -webkit-text-stroke-color: #1549c3; */
}
.author-banner-of-heaven {
    /* color: #1549c3; */
    color: #6c6b71;
}

.cover-girl-on-the-train {
    background: #80c9d8;
}
.title-girl-on-the-train {
    color: #075d38;
}
.author-girl-on-the-train {
    color: #7c5939;
}

.cover-you-cant-win {
    background: #ecad22;
}
.title-you-cant-win {
    color: #030303;
}
.author-you-cant-win {
    color: #a82b19;
}

.cover-but-how-know {
    background: #80bafa;
}
.title-but-how-know {
    color: #000;
}
.author-but-how-know {
    color: #fff;
}

.cover-sapiens {
    background: #f8f5ee;
}
.title-sapiens {
    color: #db221f;
}
.author-sapiens {
    color: #5f4840;
}

.cover-season-of-the-witch {
    background: #bf8f23;
}
.title-season-of-the-witch {
    color: #fff;
}
.author-season-of-the-witch {
    color: #000;
}

.cover-slaughterhouse-five {
    background: #fb0206;
}
.title-slaughterhouse-five {
    color: #f6fc1c;
}
.author-slaughterhouse-five {
    /* color: #0009f6; */
    color: #1207dd;
}

.cover-creativity-inc {
    background: #b3202a;
}
.title-creativity-inc {
    color: #fff;
}
.author-creativity-inc {
    color: #000;
}

.cover-monte-cristo {
    background: #343341;
}
.title-monte-cristo {
    color: #e16d48;
}
.author-monte-cristo {
    color: #fff;
}

.cover-confederacy-of-dunces {
    background: #f8cd4a;
}
.title-confederacy-of-dunces {
    color: #384a72;
}
.author-confederacy-of-dunces {
    /* color: #bddae2; */
    /* color: #518c52; */
    /* color: #2f7f4c; */
    color: #db413f;
}

.cover-atlas-shrugged {
    background: #454545;
}
.title-atlas-shrugged {
    /* color: #d9334b; */
    color: #00b7df;
}
.author-atlas-shrugged {
    /* color: #d3460e; */
    /* color: #eb1922; */
    color: #e36d3f;
}

.cover-elon-musk {
    background: #656160;
}
.title-elon-musk {
    color: #fff;
}
.author-elon-musk {
    color: #0a51a1;
}


