/** 
 *    No parameter n to access for dynamic calculation,
 *    so macro eval'd to create pre-populated template
 *    for each possible size div containing n books:
 *
 *    (+ 30.8 (* 29 n)) 
**/

.num-books-40 {
	height: 1190.8px;
}

.num-books-39 {
	height: 1161.8px;
}

.num-books-38 {
	height: 1132.8px;
}

.num-books-37 {
	height: 1103.8px;
}

.num-books-36 {
	height: 1074.8px;
}

.num-books-35 {
	height: 1045.8px;
}

.num-books-34 {
	height: 1016.8px;
}

.num-books-33 {
	height: 987.8px;
}

.num-books-32 {
	height: 958.8px;
}

.num-books-31 {
	height: 929.8px;
}

.num-books-30 {
	height: 900.8px;
}

.num-books-29 {
	height: 871.8px;
}

.num-books-28 {
	height: 842.8px;
}

.num-books-27 {
	height: 813.8px;
}

.num-books-26 {
	height: 784.8px;
}

.num-books-25 {
	height: 755.8px;
}

.num-books-24 {
	height: 726.8px;
}

.num-books-23 {
	height: 697.8px;
}

.num-books-22 {
	height: 668.8px;
}

.num-books-21 {
	height: 639.8px;
}

.num-books-20 {
	height: 610.8px;
}

.num-books-19 {
	height: 581.8px;
}

.num-books-18 {
	height: 552.8px;
}

.num-books-17 {
	height: 523.8px;
}

.num-books-16 {
	height: 494.8px;
}

.num-books-15 {
	height: 465.8px;
}

.num-books-14 {
	height: 436.8px;
}

.num-books-13 {
	height: 407.8px;
}

.num-books-12 {
	height: 378.8px;
}

.num-books-11 {
	height: 349.8px;
}

.num-books-10 {
	height: 320.8px;
}

.num-books-9 {
	height: 291.8px;
}

.num-books-8 {
	height: 262.8px;
}

.num-books-7 {
	height: 233.8px;
}

.num-books-6 {
	height: 204.8px;
}

.num-books-5 {
	height: 175.8px;
}

.num-books-4 {
	height: 146.8px;
}

.num-books-3 {
	height: 117.8px;
}

.num-books-2 {
	height: 88.8px;
}

.num-books-1 {
	height: 59.8px;
}

